.user-list {
  .show-details {
    @extend .fa;
    @extend .fa-id-card;

    padding-right: .3em;
  }
}

$user-detail-grid: (
  columns: 4,
  gutter: 60px
);

.user-details {
  @include grid-container;

  > * {
    padding-top: .5em;
  }

  label {
    @include grid-column(1, $user-detail-grid);
    clear: both;
  }

  label + * {
    @include grid-column(3, $user-detail-grid);
  }

  .map {
    @include grid-column(4, $user-detail-grid);
    min-height: 300px;
  }

  .address {
    clear: both;
  }
}
