<h1>{{$ctrl.title}}</h1>

<table class="table-minimal user-list">
    <thead>
    <tr>
        <th>Name</th>
        <th>User Name</th>
        <th>E-Mail</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in $ctrl.users | orderBy:'-name'">
        <td>
            <a ui-sref="user-details({userId: user.id})" tooltip="Details">
                <i class="show-details"></i>{{user.name}}
            </a>
        </td>
        <td>{{user.username}}</td>
        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
        <td>
            <user-address address="user.address"></user-address>
        </td>
    </tr>
    </tbody>
</table>
