<h1>{{$ctrl.user.name}}</h1>

<a ui-sref="user-list" tooltip="User List">
    Zurück
</a>

<div class="user-details">
    <label for="username">Username</label>
    <span id="username">{{$ctrl.user.username}}</span>

    <label for="email">E-Mail</label>
    <span id="email"><a href="mailto:{{$ctrl.user.email}}">{{$ctrl.user.email}}</a></span>

    <label for="address">Address</label>
    <div id="address">
        {{$ctrl.user.address.street}}<br>
        {{$ctrl.user.address.suite}}<br>
        {{$ctrl.user.address.city}}<br>
        {{$ctrl.user.address.zipcode}}
    </div>

    <label for="phone">Phone</label>
    <span id="phone">{{$ctrl.user.phone}}</span>

    <label for="website">Website</label>
    <span id="website"><a href="http://{{$ctrl.user.website}}">{{$ctrl.user.website}}</a></span>

    <label for="company">Company</label>
    <div id="company">
        <strong>{{$ctrl.user.company.name}}</strong><br>
        {{$ctrl.user.company.catchPhrase}}<br>
        {{$ctrl.user.company.bs}}
    </div>

    <iframe class="map"
            frameborder="0" style="border:0"
            src="{{$ctrl.mapsUrl}}" allowfullscreen>
    </iframe>
</div>
